body {
  margin: 0;
}
header {
  overflow: hidden;
  background-color: #000000;
  padding: 10px;
}
header h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 20px;
}

.img1 {
  width: 100%;
  background: url(sand.jpeg);
  height: 500rem;
  background-repeat: no-repeat;
}
