body {
  margin: 0;
}
header {
  overflow: hidden;
  background-color: #000000;
  padding: 20px;
  position: sticky;
  top: 0;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 20px;
}
nav {
  text-align: center;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
}

*a:hover {
  color: green;
}

.img1 {
  width: auto;
  background: url(sand.jpeg);
  height: 30rem;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.img2 {
  width: 32%;
}

.img2 img {
  width: 100%;
  height: 90%;
  display: block;
  border-radius: 1rem;
}
.intro {
  background-color: #80bcbd;
  padding: 3rem;
}
.intro p {
  padding-left: 10%;
  padding-right: 10%;
}

.visit {
  background-color: #aad9bb;
  padding: 3rem;
}

.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.points {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.img3 {
  width: 40%;
  padding: 10px;
}

.img3 img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

.desc {
  width: 60%;
  padding: 10px;
}

ul {
  list-style-type: square;
}
.tour {
  background-color: #d5f0c1;
  padding: 3rem;
}
.table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  font-style: oblique;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table,
th,
td {
  border: 1px solid black;
}
th,
td {
  padding: 8px;
  text-align: left;
}
th {
  background-color: #eac7ff;
}
tr:nth-child(odd) {
  background-color: #ccf4fb;
}
tr:nth-child(even) {
  background-color: #ffd89d;
}

.contact {
  text-align: center;
  padding: 20px;
  background-color: burlywood;
}

.form {
  margin: 0 auto;
  width: fit-content;
}

form div {
  margin-bottom: 10px;
}

label,
input,
textarea,
button {
  display: block;
  margin: auto;
}

input,
textarea,
button {
  width: 80%;
  max-width: 300px;
}

textarea {
  resize: vertical;
}

.map {
  text-align: center;
  padding: 20px;
  background-color: #f9f7c9;
}

.mapembedd {
  margin: 0 auto;
  width: 600px;
  max-width: 100%;
}

footer {
  overflow: hidden;
  background-color: #000000;
  padding: 10px;
}

footer h1 {
  text-align: center;
}

nav a:link {
  color: #ffffff;
}
nav a:visited {
  color: #8edbff;
}

.visit a:link {
  color: #5b5b5b;
}

.visit a:visited {
  color: #0800ff;
}
